---
import Layout from "../layouts/Layout.astro";
import Banniere from "../components/Banniere.astro";
import ActuPrev from "../components/ActuPrev.astro";

import { actu } from "../js/appelleAPI.js";

const actuInstance = await actu();
---

<Layout title="Actualités">
  <Banniere />
  <main class="mx-4 md:mx-24 lg:mx-48">
    <div
      class="w-full my-4 md:my-8 rounded-lg shadow shadow-slate-700 bg-slate-700 p-2"
    >
      <h2 class="text-white">Actualités</h2>
    </div>
    <ul>
      {
        actuInstance.map((actu) => (
          <li>
            <ActuPrev
              date={actu.date}
              image={actu.image.url}
              texte={actu.texte}
              titre={actu.titre}
            />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
