<header>
  <div class="flex flex-row">
    <img
      src="/assets/LogoV.jpg"
      alt="Logo en V"
      class="w-16 h-16 rounded-full drop-shadow-lg"
    />
    <h1>VOTRE SITE</h1>
  </div>
</header>
