---
interface Props {
  resume: string;
  titre: string;
  slug: string;
}

const { resume, titre, slug } = Astro.props;
---

<a href=`/postes/${slug}`>
  <div
    class="p-2 md:p-4 m-2 md:m4 bg-slate-300 rounded-lg shadow shadow-slate-500 md:shadow-lg md:shadow-slate-500 flex flex-col justify-around items-start"
  >
    <h3 class="mb-2 md:mb-8">{titre}</h3>
    <p>{resume}</p>
  </div>
</a>
